<body ng-controller="PasswordResetController">
	<div style="margin-top: 50px;"
		class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">Reset password</div>
				<div
					style="float: right; font-size: 85%; position: relative; top: -10px">
					<a id="signinlink" href="#/login">Sign In</a>
				</div>
			</div>

			<div style="padding-top: 30px" class="panel-body">

				<div class="col-sm-12 successMsg"
					style="margin-left: 20px; margin-bottom: 20px">{{message}}</div>
				<div class="col-sm-12 error"
					style="margin-left: 20px; margin-bottom: 20px">
					{{ansIncorrectMessage}}</div>

				<form class="form-horizontal" name="myForm">

					<div class="form-group">
						<label for="firstname" class="col-md-5 control-label">Please
							enter your username *</label>
						<div class="col-md-7">
							<input type="text" class="form-control" name="username"
								ng-model="username" placeholder="User Name" required autofocus>
							<span class="error"
								ng-show="myForm.username.$dirty && myForm.username.$error.required">
								* User Name is required to reset your password </span>
						</div>
					</div>

					<div class="form-group" ng-show="showSecQues">
						<label for="firstname" class="col-md-5 control-label">
							{{securityQuestion}} *</label>
						<div class="col-md-7">
							<input type="text" class="form-control" name="secAnswer"
								ng-model="security_answer"
								placeholder="Answer to the answer question" required autofocus>
							<span class="error"
								ng-show="myForm.secAnswer.$dirty && myForm.firstname.$error.required">
								* Answer to the security question is required to reset your
								password. </span>
						</div>
					</div>

					<div class="form-group" ng-show="canResetPassword">
						<label for="password" class="col-md-5 control-label">Password
							*</label>
						<div class="col-md-7">
							<input type="password" class="form-control" name="password"
								placeholder="Password" ng-model="password" match="password1"
								required> <span class="error"
								ng-show="myForm.password.$dirty && myForm.password.$error.required">
								* Password is required. </span>
						</div>
					</div>
					<div class="form-group" ng-show="canResetPassword">
						<label for="confirm_password" class="col-md-5 control-label">Confirm
							Password *</label>
						<div class="col-md-7">
							<input type="password" class="form-control" name="password1"
								placeholder="Confirm Password" ng-model="password1" required
								match="password"> <span class="error"
								ng-show="myForm.password1.$dirty && myForm.password1.$error.required">
								* Confirm Password is required. </span> <span
								ng-show="myForm.password1.$dirty && myForm.password1.$error.match && !myForm.password1.$error.required"
								class="error"> Passwords don't match. </span>
						</div>
					</div>

					<div style="margin-top: 10px" class="form-group">
						<!-- Button -->
						<span class="col-sm-offset-3 controls" ng-hide="showSecQues">
							<a class="btn btn-success" ng-click="getUserDetails(username)">Continue</a>
						</span> <span class="col-sm-offset-3  controls"
							ng-show="showSecQues && !canResetPassword"> <a
							class="btn btn-success"
							ng-click="submitSecAnswer(security_answer)">Submit</a>
						</span> <span class="col-sm-offset-3  controls"
							ng-show="canResetPassword"> <a class="btn btn-success"
							ng-click="resetPassword(password)" ng-disabled="myForm.$invalid">Reset
								Password</a>
						</span> <span class="col-sm-offset-1  controls"> <a
							class="btn btn-primary" ng-click="cancel()">Cancel</a>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
