<div class="container" ng-app="AngularApp">
	<!-- <form ng-app="AngularApp" class="form-horizontal" name="myForm"
	novalidate ng-submit="register()">  -->
	<div id="signupbox" style="margin-top: 50px"
		class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">Sign Up</div>
				<div
					style="float: right; font-size: 85%; position: relative; top: -10px">
					<a id="signinlink" href="#/login">Sign In</a>
				</div>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" name="myForm" novalidate>

					<div style="margin-bottom: 8px; margin-left: 50px"
						class="col-sm-12 successMsg">{{registrationStatus}}</div>

					<div class="form-group">
						<label for="firstname" class="col-md-4 control-label">First
							Name *</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="firstname"
								ng-model="user.firstname" placeholder="First Name" required
								autofocus> <span class="error"
								ng-show="myForm.firstname.$dirty && myForm.firstname.$error.required">
								* First Name is required. </span>
						</div>
					</div>

					<div class="form-group">
						<label for="lastname" class="col-md-4 control-label">Last
							Name</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="lastname"
								ng-model="user.lastname" placeholder="Last Name">
						</div>
					</div>
					<div class="form-group">
						<label for="emailid" class="col-md-4 control-label">Email
							Id *</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="emailid"
								ng-model="user.email" placeholder="Email Id" required> <span
								class="error"
								ng-show="myForm.emailid.$dirty && myForm.emailid.$error.required">
								* Email id is required. </span>
						</div>
					</div>
					<div class="form-group">
						<label for="username" class="col-md-4 control-label">Preferred
							Username *</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="username"
								placeholder="Username" ng-model="user.username" required
								unique-username ng-model-options="{ updateOn: 'blur'}">
							<span class="error"
								ng-show="myForm.username.$dirty && myForm.username.$error.required">
								* Username is required. </span> <span ng-show="busy"
								style="color: green">checking....</span> <span
								ng-if="myForm.$error.isTaken" class="error">* Username
								exists already</span>
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-md-4 control-label">Password
							*</label>
						<div class="col-md-8">
							<input type="password" class="form-control" name="password"
								placeholder="Password" ng-model="user.password"
								match="user.password1" required> <span class="error"
								ng-show="myForm.password.$dirty && myForm.password.$error.required">
								* Password is required. </span>
						</div>
					</div>
					<div class="form-group">
						<label for="confirm_password" class="col-md-4 control-label">Confirm
							Password *</label>
						<div class="col-md-8">
							<input type="password" class="form-control" name="password1"
								placeholder="Confirm Password" ng-model="user.password1"
								required match="user.password"> <span class="error"
								ng-show="myForm.password1.$dirty && myForm.password1.$error.required">
								* Confirm Password is required. </span> <span
								ng-show="myForm.password1.$dirty && myForm.password1.$error.match && !myForm.password1.$error.required"
								class="error"> Passwords don't match. </span>
						</div>
					</div>

					<!-- <div class="form-group">
						<label for="gender" class="col-md-4 control-label">Gender</label>
						<div class="col-md-8">
							<label><input type="radio" name="gender" value="M" ng-model="user.gender">
								Male</label><br> <label><input type="radio" name="gender"
								value="F" ng-model="user.gender"> Female</label>
						</div>
					</div>

					<div class="form-group">
						<label for="dob" class="col-md-4 control-label">Date of
							Birth</label>

						<div class="col-md-8"> -->

					<!-- ui.bootstrap.datetimepicker (Dropdown Datetime with input box) -->
					<!--  <div class="dropdown">
								<a class="dropdown-toggle" id="dropdown2" role="button"
									data-toggle="dropdown" data-target="#">
									<div class="input-group">
										<input type="text" class="form-control"
											data-ng-model="data.date"> <span
											class="input-group-addon"><i
											class="glyphicon glyphicon-calendar"></i></span>
									</div>
								</a>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
									<datepicker data-ng-model="data.date"
										data-datepicker-config="{ dropdownSelector: '#dropdown2' }">
									</datepicker>
								</ul>
							</div>
						<div class="col-md-8">
							<input type="date" class="form-control" uib-datepicker-popup
								ng-model="user.dob" is-open="status.opened" min-date="minDate"
								max-date="maxDate" datepicker-options="dateOptions"
								date-disabled="disabled(date, mode)"
								close-text="Close" />
						</div>
					</div> -->
					<div class="form-group">
						<label for="preference" class="col-md-4 control-label">Preferences</label>
						<div class="col-md-8">
							<div ng-repeat="category in categories">
								<label> <input type="checkbox"
									name="selectedcategories[]" value="{{category.value}}"
									ng-checked="selection.indexOf(category) > -1"
									ng-click="toggleSelection(category)"> {{category.name}}
								</label>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label for="security_question" class="col-md-4 control-label">Security
							Question *</label>
						<div class="col-md-8">
							<select id="securityQuestions" class="form-control"
								ng-model="selectedQues"
								ng-options="ques.value for ques in security_questions track by ques.name">
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="security_answer" class="col-md-4 control-label">Security
							Answer *</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="secAnswer"
								placeholder="Answer the Security Question"
								ng-model="user.security_answer" required ng-change="display()">
							<span class="error"
								ng-show="myForm.secAnswer.$dirty && myForm.secAnswer.$error.required">
								* Answer to the security question is required. </span>
						</div>
					</div>

					<div class="form-group">
						<!-- Button -->
						<div class="col-md-offset-5 col-md-7">
							<button id="btn-signup" name="signUp" type="button"
								ng-disabled="myForm.$invalid" class="btn btn-success"
								ng-click="register(user)">Sign Up</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

