
<div class="container" ng-app="AngularApp">
	<div id="signupbox" style="margin-top: 50px"
		class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">Sign Up</div>
				<div
					style="float: right; font-size: 85%; position: relative; top: -10px">
					<a id="signinlink" href="#"
						onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign
						In</a>
				</div>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" name="myForm">

					<!-- <div id="signupalert" style="display:none" class="alert alert-danger">
                                    <p>Error:</p>
                                    <span></span>
                                </div> -->

					<div class="form-group">
						<label for="firstname" class="col-md-4 control-label">First
							Name *</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="firstname"
								ng-model="user.firstname" placeholder="First Name" required
								autofocus> <span class="error"
								ng-show="myForm.firstname.$dirty && myForm.firstname.$error.required">
								* First Name is required. </span>
						</div>
					</div>


					<div class="form-group">
						<label for="lastname" class="col-md-4 control-label">Last
							Name</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="lastname"
								ng-model="user.lastname" placeholder="Last Name">
						</div>
					</div>
					<div class="form-group">
						<label for="emailid" class="col-md-4 control-label">Email
							Id *</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="emailid"
								ng-model="user.emailid" placeholder="Email Id" required>
							<span class="error"
								ng-show="myForm.emailid.$dirty && myForm.emailid.$error.required">
								* Email id is required. </span>
						</div>
					</div>
					<div class="form-group">
						<label for="username" class="col-md-4 control-label">Preferred
							Username *</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="username"
								placeholder="Username" ng-model="user.username" required>
							<span class="error"
								ng-show="myForm.username.$dirty && myForm.username.$error.required">
								* Username is required. </span>
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-md-4 control-label">Password *</label>
						<div class="col-md-8">
							<input type="password" class="form-control" name="password"
								placeholder="Password" ng-model="user.password" required>
							<span class="error"
								ng-show="myForm.password.$dirty && myForm.password.$error.required">
								* Password is required. </span>
						</div>
					</div>
					<div class="form-group">
						<label for="confirm_password" class="col-md-4 control-label">Confirm
							Password *</label>
						<div class="col-md-8">
							<input type="password" class="form-control"
								name="confirm_password" placeholder="Confirm Password" ng-model="user.password1" required>
							<span class="error"
								ng-show="myForm.password1.$dirty && myForm.password1.$error.required">
								* Confirm Password is required. </span>
						</div>
					</div>

					<div class="form-group">
						<label for="gender" class="col-md-4 control-label">Gender</label>
						<div class="col-md-8">
							<label><input type="radio" name="gender" value="male">
								Male</label><br> <label><input type="radio" name="gender"
								value="female"> Female</label>
						</div>
					</div>

					<div class="form-group">
						<label for="dob" class="col-md-4 control-label">Date of
							Birth</label>
						<div class="col-md-8">

							<!-- ui.bootstrap.datetimepicker (Dropdown Datetime with input box) -->
							<div class="dropdown">
								<a class="dropdown-toggle" id="dropdown2" role="button"
									data-toggle="dropdown" data-target="#">
									<div class="input-group">
										<input type="text" class="form-control"
											data-ng-model="data.date"> <span
											class="input-group-addon"><i
											class="glyphicon glyphicon-calendar"></i></span>
									</div>
								</a>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
									<datetimepicker data-ng-model="data.date"
										data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }">
									</datetimepicker>
								</ul>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="preference" class="col-md-4 control-label">Preferences</label>
						<div class="col-md-8">

							<label><input type="checkbox" id="food_category"
								value="food_category"> Food</label><br> <label><input
								type="checkbox" id="filmandarts_category"
								value="filmandarts_category"> Film and Arts</label><br> <label><input
								type="checkbox" id="music_category" value="music_category">
								Music</label><br> <label><input type="checkbox"
								id="holidays_category" value="holidays_category">
								Holidays</label><br> <label><input type="checkbox"
								id="sports_category" value="sports_category"> Sports</label><br>
							<label><input type="checkbox" id="sciandbus_category"
								value="sciandbus_category"> Science and Business</label><br>

						</div>
					</div>

					<div class="form-group">
						<label for="security_question" class="col-md-4 control-label">Security
							Question *</label>
						<div class="col-md-8">

							<select name="Security_question_menu">
								<option value="0" selected style="display: none;">Choose
									a Security Question</option>
								<option value="question1">What is your pet's name?</option>
								<option value="question2">Which city is/was your
									college in?</option>
								<option value="question3">Which city do your parents
									live?</option>
							</select>
						</div>
					</div>


					<div class="form-group">
						<label for="security_answer" class="col-md-4 control-label">Security
							Answer *</label>
						<div class="col-md-8">
							<input type="text" class="form-control" name="security_answer"
								placeholder="Answer the Security Question" required>

						</div>
					</div>
					<div class="form-group">
						<!-- Button -->
						<div class="col-md-offset-3 col-md-9">
							<button id="btn-signup" type="button" class="btn btn-success"
								ng-click="register()">&nbsp Sign Up</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>

